@import "./_variables.scss";
.about{
display: flex;
flex-direction: column;
}
.aboutSection{
    min-height: 90vh;
    display: flex;
    align-items: center;
}
.primary_text{
    // color: $primary_text;
    // font-size: 3rem;
    // font-family: 'Lekton', sans-serif;
}

.paragraph{
    margin-bottom: 2.5rem;
}

.technologies{
    display: grid;
    gap: 1rem;
    grid-template: auto / 160px 160px;
    justify-content: center;
    @media only screen and (min-width: 1024px){
        grid-template: auto / 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 1536px){
        grid-template: auto / 1fr 1fr 1fr 1fr;
    }
}
.logo{
    position: relative;
    height: 75px;
    width: 80px;
}
.card{
position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 border-radius: 0.25rem;
 padding: 1rem 2rem;
 overflow: hidden;
 box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
 backdrop-filter: blur(1px) opacity(100%); 
 @media only screen and (min-width: 1024px){
    flex-direction: row;
 }
 &:after{
     content:"";
     width: 100%;
     height: 100%;

     position: absolute;
     z-index:-1;
     filter: blur(5px);
 }
}
.tech{
    font-family: "Roboto", sans-serif;
}