@import "./_variables.scss";

.header{
    position: sticky;
    top:0;
    left:0; 
    width: 100%;
    backdrop-filter: blur(16px) opacity(100%);
    padding: 1rem 0;
}

.header--content{
    width: 100%;
}

.container__flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    // color: rgb(126, 125, 125);
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Lekton', 'Pacifico', cursive;
    cursor: pointer;
}


.hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    overflow:hidden;
    &:hover p{
        top:0;
    }
    @media only screen and (min-width:768px){
        width: 10rem;
    }
}
.hamburger__menu{
    display: none;
    @media only screen and (min-width:768px){
        display:block;
    }
}

.hamburger__text{
    
    position: relative;
    top: 3rem;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke:2px $primary_component_color;
    
}

.hamburger__btn{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.line{
    height: 3px;
    width: 40px;
    display: block;
    border-radius: 10%;
}


.line1{
    
}
.line2{

}
.line3{

}

.menu{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width:100vw;
    backdrop-filter:blur(5px) opacity(100%);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transform: translateX(100vw);
}

.menu__content{
    height: 100%;
    width: 80%;
    box-shadow: -2px 0px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.link{
    margin-right: 3rem;
    cursor: pointer;
    @media only screen and (min-width:1024px){
        font-size: 4rem;
    }
    
}

.close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    @media only screen and (min-width: 1024px){
        width: 5rem;
        height: 5rem;
    }
    &:hover{
        transform: rotate(90deg);
    }
    
}
