.btn{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 1.5rem;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-content:center;
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 0px 5px 1px ${({dark}:{dark:boolean})=>dark ? 'rgba(256, 256, 256, 0.7)' : 'rgba(0, 0, 0, 0.7)' }; */
    /* background: ${({dark}:{dark:boolean})=>dark ? '#f1f1f1' : '#121620' }; */
    cursor: pointer;
}