@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lekton&family=Pacifico&family=Roboto:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', 'Lekton', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.3s ease-out;
  font-family: 'Lekton', sans-serif;
  margin: 0;
  padding:0;
}

main{
  min-height: 90vh;
}

@layer base{
  .content{
    @apply lg:text-left tracking-wide font-bold text-slate-800 dark:text-slate-400 text-xl lg:text-3xl;
  }
  .content-2{
      @apply lg:text-left tracking-wide font-bold text-slate-200 lg:text-xl;
  }
  .header-1{
    @apply text-5xl lg:text-7xl font-black my-6 text-blue-900 dark:text-blue-600;
  }
  .header-2{
    @apply tracking-wide text-3xl lg:text-5xl font-extrabold my-3 text-blue-600 dark:text-blue-400;
  }
  body{
    @apply min-h-screen bg-slate-200 dark:bg-neutral-900;
  }
}

@layer utilities{
  .section{
    /* @apply ; */
  }
  .container-custom{
    @apply px-2 md:px-3 lg:px-24 xl:px-40 w-full;
  }
  .container--vertical--spacing{
    @apply my-8 lg:my-12;
  }
 
}

@layer components{
  .btn{
    @apply outline-0 font-bold border-blue-500 text-blue-500 text-lg border py-3 px-5 rounded hover:bg-blue-200 hover:text-blue-700;
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  
}
